.menu {
	position: absolute;
	z-index: var(--sidebar-index);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: var(--card-bg);
	border: 1px solid var(--primary-color);
	border-radius: 8px;
}

.item {
	width: 100%;
	padding: 10px 25px;
	color: var(--primary-color);
	font: var(--font-l);
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
