.item {
	display: flex;
	gap: 25px;
	align-items: center;
	padding: 0 20px;
}

.linkName {
	opacity: 1;
}

.icon {
	width: var(--font-size-xl);
	height: var(--font-size-xl);
	fill: var(--inverted-primary-color);
}

.collapsed {
	gap: 0;

	.linkName {
		width: 0;
		opacity: 0;
		transition: 0.2s opacity;
	}
}
