.item {
	display: flex;
	gap: 25px;
	align-items: center;
	padding: 0 20px;
}

.linkName {
	opacity: 1;
}

.icon {
	width: var(--font-size-xl);
	height: var(--font-size-xl);
	fill: var(--inverted-primary-color);
}

.collapsed {
	.item {
		gap: 0;
	}
}
