.Drawer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--overlay-index);
	display: flex;
	align-items: flex-end;
}

.opened {
	z-index: var(--modal-z-index);
	opacity: 1;
	pointer-events: auto;

	.content {
		transform: translateY(0%);
	}
}

.sheet {
	position: fixed;
	left: 2vw;
	z-index: var(--modal-z-index);
	width: 96vw;
	height: calc(100vh + 100px);
	padding: 15px;
	background: var(--bg-color);
	border-radius: 12px 12px 0;
	touch-action: none;
}
