.app.dark {
  --bg-color: #0a0ad1;
  --inverted-bg-color: #dcdcdc;

  --primary-color: #047104;
  --secondary-color: #02ec02;
  --inverted-primary-color: #0c31b0;
  --inverted-secondary-color: #0292ec;
}