.app.dark {
	--bg-color: #07077d;
	--inverted-bg-color: #dcdcdc;
	--primary-color: #13be13;
	--secondary-color: #0e870e;
	--inverted-primary-color: #3258e5;
	--inverted-secondary-color: #0292ec;

	// skeleton
	--skeleton-color: #1515ad;
	--skeleton-shadow: #2b2be8;

	// code
	--code-bg: #1212a1;

	// card
	--card-bg: #0d0d6b;
}
