.app.normal {
  --bg-color: #dcdcdc;
  --inverted-bg-color: #07077d;

  --primary-color: #3258e5;
  --secondary-color: #0292ec;
  --inverted-primary-color: #13be13;
  --inverted-secondary-color: #02ec02;
}