.app.normal {
	--bg-color: #dcdcdc;
	--inverted-bg-color: #07077d;
	--primary-color: #3258e5;
	--secondary-color: #0292ec;
	--inverted-primary-color: #0e870e;
	--inverted-secondary-color: #13be13;

	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #fff;

	// card
	--card-bg: #d5d5d7;

	// listbox
	--listbox-bg: #d5d5d7;
}
