.app.normal {
  --bg-color: #dcdcdc;
  --inverted-bg-color: #0a0ad1;

  --primary-color: #0c31b0;
  --secondary-color: #0292ec;
  --inverted-primary-color: #047104;
  --inverted-secondary-color: #02ec02;
}