.app.orange {
	--bg-color: #dcdcdc;
	--inverted-bg-color: #ad8114;
	--primary-color: #b9321d;
	--secondary-color: #df533f;
	--inverted-primary-color: #d7d8d7;
	--inverted-secondary-color: #dcdcdc;

	// skeleton
	--skeleton-color: #fff;
	--skeleton-shadow: rgba(0 0 0 / 20%);

	// code
	--code-bg: #fff;

	// card
	--card-bg: #d5d5d7;
}
