.profileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.loading,
.error {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}

.avatar_wrapper {
	display: flex;
	justify-content: center;
	object-fit: cover;
}

.editing {
	border-color: var(--inverted-primary-color);
}
